
# cargo-vet audits file

[[audits.bitcoinconsensus]]
who = "cylewitruk <cyle.witruk@outlook.com>"
criteria = "safe-to-deploy"
version = "0.106.0+26.0"
notes = """
I have reviewed both bitcoinconsensus and sys-libbitcoinconsensus which it uses to build the relevant bitcoin-core sources.
The bitcoin-core sources are indeed from bitcoin-core v26.
Note that this library does use C bindings and thus FFI and unsafe. There are panic-able code paths if used incorrectly.
This library is provided by the rust-bitcoin GH organization which also maintains the bitcoin and secp256k1 crates which we use extensively.
"""

[[audits.libp2p-identity]]
who = "cylewitruk <cyle.witruk@outlook.com>"
criteria = "safe-to-deploy"
delta = "0.2.10 -> 0.2.12"
notes = "This patch switches to k256 from libsecp256k1 for secp256k1 handling"

[[audits.libsecp256k1]]
who = "cylewitruk <cyle.witruk@outlook.com>"
criteria = "safe-to-deploy"
delta = "0.7.1 -> 0.7.2"

[[audits.p256]]
who = "djordon <dan.jordon@gmail.com>"
criteria = "safe-to-deploy"
version = "0.13.2"

[[audits.p256k1]]
who = "cylewitruk <cyle.witruk@outlook.com>"
criteria = "safe-to-deploy"
version = "7.2.2"
notes = "This change only adds wrapping to some additional bindings so that they get mangled and avoid linking errors."

[[audits.primeorder]]
who = "djordon <dan.jordon@gmail.com>"
criteria = "safe-to-deploy"
version = "0.13.6"

[[audits.serdect]]
who = "djordon <dan.jordon@gmail.com>"
criteria = "safe-to-deploy"
version = "0.2.0"

[[audits.stacks-common]]
who = "cylewitruk <cyle.witruk@outlook.com>"
criteria = "safe-to-deploy"
version = "0.0.1"
notes = "I did not fully review the changes in this diff -- they are Stacks-internal."

[[audits.stacks-common]]
who = "djordon <dan.jordon@gmail.com>"
criteria = "safe-to-deploy"
delta = "0.0.1 -> 0.0.1@git:1cba695b09690790b1220b0f5d149f70f78ddea5"
importable = false

[[audits.webpki-roots]]
who = "djordon <dan.jordon@gmail.com>"
criteria = "safe-to-deploy"
version = "0.25.4"

[[audits.wsts]]
who = "cylewitruk <cyle.witruk@outlook.com>"
criteria = "safe-to-deploy"
version = "10.0.0"

[[audits.wsts]]
who = "xoloki <xoloki@gmail.com>"
criteria = "safe-to-deploy"
version = "13.0.0"

[[audits.wsts]]
who = "xoloki <xoloki@gmail.com>"
criteria = "safe-to-deploy"
version = "13.0.1"

[[audits.wsts]]
who = "xoloki <xoloki@gmail.com>"
criteria = "safe-to-deploy"
version = "14.0.0"

[[audits.wsts]]
who = "djordon <dan.jordon@gmail.com>"
criteria = "safe-to-deploy"
delta = "14.0.0 -> 14.0.0@git:11e2316aa0edf996f8e8f9ccbbbfd4bd2975ed1d"
importable = false
